<p id="notice"><%= notice %></p>

<div class="container">
  <h1>My Learning Progress</h1>
  <a href="https://github.com/comptechbranden">@comptechbranden</a>
  <h3>General</h3>
    Understanding the install, structure, and mvc<br>
    Created an app on my windows machine and in Cloud9<br>
    Understanding how to bootstrap<br>
    Typing tutorial<br>
    Markdown tutorial
  <h3>Completed Challenges</h3>
  Coming soon!
  <h3>To Do</h3>
  Create Login<br>
  Typing.io<br>
  Code Academy<br>
  CLI the Hard Way<br>
  CLI the Hard Way<br>
  Learn Git<br>
  http://regexone.com/<br>
  Ruby the Hard Way<br>
  The Odin Project<br>
  
  <h4>Documentation</h4>
    <ul>
      <li><a href="http://ruby-doc.org/">Ruby</a></li>
      <li><a href="http://guides.rubyonrails.org/">Rails</a></li>
      <li><a href="https://docs.python.org/2/">Python</a></li>
      <li><a href="https://nodejs.org/api/">NodeJS</a></li>
    </ul>

  <h4>Ruby Methods</h4>
    <ul>
      <li><a href="http://ruby-doc.org/core-2.1.2/String.html">String</a></li>
      <li><a href="http://ruby-doc.org/core-2.1.2/Array.html">Array</a></li>
      <li><a href="http://ruby-doc.org/core-2.1.2/Hash.html">Hash</a></li>
      <li><a href="http://ruby-doc.org/core-2.1.2/Enumerable.html">Enumerable</a></li>
      <li><a href="http://ruby-doc.org/core-2.1.2/Integer.html">Integer</a></li>
    </ul>
  <br><br>
  </div>
</div>

