<div id="jumbo">
  <video src="http://vjs.zencdn.net/v/oceans.mp4" autoplay loop muted></video>
</div>

<script>$("#jumbo").jumbotron()</script>

    <div class="jumbotron">
      <div class="container">
        <h1>Branden's Ruby Code Challenges</h1>
        <p>This is a place for me to learn ruby application development and show it off at the same time!</p>
        <p><a class="btn btn-primary btn-lg" href="progresses" role="button">See my progress on learning the challenges &raquo;</a></p>
      </div>
    </div>