<p id="notice"><%= notice %></p>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Why am I Learning?</h2>
          <p>I love making things work and tinkering in technology. The best way to do this is programming!</p>
          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div>
        <div class="col-md-4">
          <h2>How Am I Doing It?</h2>
          <p>However possible! Teaming up with friends, classes, and lots of googling!</p>
          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
       </div>
        <div class="col-md-4">
          <h2>My Goals</h2>
          <p>Become proficient enough to work with a team of developers to grow my skills!</p>
          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div>
      </div>

      <hr>

<h1>Ruby Code Challenges from <a href="http://paircolumbus.org">Pair Columbus</a></h1>

<h2 id="session-drills">Session Drills</h2>
<p><strong>Note:</strong> Most of these drills are not domain specific and can be completed with the Ruby, Python or NodeJS libraries.</p>

<!-- challenge categories -->

<h3>Beginner</h3>
<p><p>Your goal is to complete each drill successfully and comfortably using common Ruby methods &amp; syntax. If you are new to programming, please start with our <a href="http://paircolumbus.org/resources/">resources</a> before continuing.</p>
</p>
<ul>
    
      <li>
        <a href="https://github.com/paircolumbus/Git-It">
          Git-It
        </a>
      </li>
    
      <li>
        <a href="https://github.com/paircolumbus/RubyRefresher">
          RubyRefresher
        </a>
      </li>
    
      <li>
        <a href="https://github.com/paircolumbus/LetsDrill">
          LetsDrill
        </a>
      </li>
    
      <li>
        <a href="https://github.com/paircolumbus/MoreEnumerables">
          MoreEnumerables
        </a>
      </li>
    
      <li>
        <a href="https://github.com/paircolumbus/MoreDrillsWithRSpec">
          MoreDrillsWithRSpec
        </a>
      </li>
    
      <li>
        <a href="https://github.com/paircolumbus/FindTheAnagrams">
          FindTheAnagrams
        </a>
      </li>
    
      <li>
        <a href="https://github.com/paircolumbus/FixTheTreeTDD">
          FixTheTreeTDD
        </a>
      </li>
    
      <li>
        <a href="https://github.com/paircolumbus/MVCgame">
          MVCgame
        </a>
      </li>
    
  </ul>

<h3>Automated Testing</h3>
<p><p>Your goal is to complete each beginner drill successfully and have a good understanding of how to use common Ruby testing tools like Capybara, RSpec, &amp; Cucumber.</p>
</p>
<ul>
    
      <li>
        <a href="https://github.com/paircolumbus/DoYouKnowTheDOM">
          DoYouKnowTheDOM
        </a>
      </li>
    
      <li>
        <a href="https://github.com/paircolumbus/DoYouKnowTheDom2">
          DoYouKnowTheDom2
        </a>
      </li>
    
      <li>
        <a href="https://github.com/paircolumbus/ParserChallenge1">
          ParserChallenge1
        </a>
      </li>
    
      <li>
        <a href="https://github.com/paircolumbus/FixTheTreeTDD">
          FixTheTreeTDD
        </a>
      </li>
    
      <li>
        <a href="https://github.com/paircolumbus/CucumberBasics">
          CucumberBasics
        </a>
      </li>
    
      <li>
        <a href="https://github.com/paircolumbus/Capybara101">
          Capybara101
        </a>
      </li>
    
      <li>
        <a href="https://github.com/paircolumbus/RefactoringWithRubocop">
          RefactoringWithRubocop
        </a>
      </li>
    
  </ul>

<h3>Intermediate</h3>
<p><p>Your goal is to complete each beginner &amp; automated testing drill and achieve an understanding of basic web development (Rails).</p>
</p>
<ul>
    
      <li>
        <a href="https://github.com/paircolumbus/CountingWords">
          CountingWords
        </a>
      </li>
    
      <li>
        <a href="https://github.com/paircolumbus/HealthyRelationships">
          HealthyRelationships
        </a>
      </li>
    
      <li>
        <a href="https://github.com/paircolumbus/FormValidator">
          FormValidator
        </a>
      </li>
    
      <li>
        <a href="https://github.com/paircolumbus/RapNameGenerator">
          RapNameGenerator
        </a>
      </li>
    
      <li>
        <a href="https://github.com/paircolumbus/BitlyClone">
          BitlyClone
        </a>
      </li>
    
      <li>
        <a href="https://github.com/paircolumbus/NotAllowed">
          NotAllowed
        </a>
      </li>
    
  </ul>

<h3>JavaScript</h3>
<p><p>These drills will help you develop a basic proficiency in web development, functional &amp; asynchronous programming with JS/Nodejs.</p>
</p>
<ul>
    
      <li>
        <a href="https://github.com/paircolumbus/javascripting101">
          javascripting101
        </a>
      </li>
    
      <li>
        <a href="https://github.com/paircolumbus/FormValidator">
          FormValidator
        </a>
      </li>
    
      <li>
        <a href="https://github.com/paircolumbus/learnyounode">
          learnyounode
        </a>
      </li>
    
      <li>
        <a href="https://github.com/paircolumbus/expressworks">
          expressworks
        </a>
      </li>
    
  </ul>

<h3>Extra Credit</h3>
<p><p>These are extra drills used to improve your over full-stack development skills.</p>
</p>
<ul>
    
      <li>
        <a href="https://github.com/paircolumbus/BootstrapGridSystem">
          BootstrapGridSystem
        </a>
      </li>
    
      <li>
        <a href="https://github.com/paircolumbus/SocketAndThread">
          SocketAndThread
        </a>
      </li>
    
  </ul>
